Repository ztkmkoo/dss, pull requests merged in 2020-09, with the labels that each got.

#119 [#115] Add ExceptionHandler interface that users can customize exception handler
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/actor/rest/DssRestExceptionHandlerActor.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/actor/rest/DssRestMasterActor.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/actor/rest/DssRestServiceActor.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/exception/annotation/ExceptionHandler.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/exception/annotation/ServiceExceptionHandler.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/exception/handler/DssExceptionHandler.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/exception/handler/DssRestExceptionHandlerResolver.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/exception/handler/ExceptionHandleMethod.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/message/rest/DssRestExceptionHandlerCommand.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/message/rest/DssRestExceptionHandlerCommandRequest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/actor/rest/DssRestExceptionHandlerActorTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/exception/handler/DssRestExceptionHandlerResolverTest.java
  dss-server/src/main/java/io/github/ztkmkoo/dss/server/DssServer.java
  dss-server/src/main/java/io/github/ztkmkoo/dss/server/rest/DssRestServer.java
  dss-server/src/test/java/io/github/ztkmkoo/dss/server/rest/DssRestServerTest.java
Labels: core, feature, service

#121 Feature/uml doc
  document/uml/rest event handling.svg
  document/uml/server initialize.svg
Labels: documentation

#114 [#82] Implement dss network tcp handler
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/network/rest/handler/DssRestHandler.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/network/tcp/DssTcpChannel.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/network/tcp/handler/DssTcpChannelInitializer.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/network/tcp/handler/DssTcpHandler.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/network/tcp/handler/DssTcpSslChannelInitializer.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/network/tcp/property/DssTcpChannelProperty.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/network/tcp/DssTcpChannelTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/network/tcp/handler/DssTcpChannelInitializerTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/network/tcp/handler/DssTcpHandlerTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/network/tcp/handler/DssTcpSslChannelInitializerTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/network/tcp/property/DssTcpChannelPropertyTest.java
  dss-server/pom.xml
  dss-server/src/main/java/io/github/ztkmkoo/dss/server/tcp/DssTcpServer.java
  dss-server/src/test/java/io/github/ztkmkoo/dss/server/tcp/DssTcpServerTest.java
Labels: core, feature, network

#126 Feature/118 redesign actor interface
  dss-common/pom.xml
  dss-core/pom.xml
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/actor/AbstractDssActor.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/actor/DssActor.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/actor/DssExceptionActor.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/actor/DssMasterActor.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/actor/DssNetworkActor.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/actor/DssResolverActor.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/actor/DssServiceActor.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/actor/enumeration/DssMasterActorStatus.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/actor/property/DssMasterActorProperty.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/actor/property/DssNetworkActorProperty.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/actor/property/DssResolverActorProperty.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/actor/property/DssServiceActorProperty.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/common/CommonStaticContents.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/common/logging/DssLogLevel.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/message/DssBindCommand.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/message/DssExceptionCommand.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/message/DssMasterCommand.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/message/DssNetworkCommand.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/message/DssResolverCommand.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/message/DssServiceCommand.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/service/DssService.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/service/DssServiceGenerator.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/service/DssServiceResolvableInfo.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/util/ObjectUtils.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/actor/AbstractDssActorTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/actor/DssActorTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/actor/DssMasterActorTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/actor/property/DssMasterActorPropertyTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/actor/property/DssNetworkActorPropertyTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/common/CommonStaticContentsTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/message/DssCommandHelpUtils.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/message/DssMasterCommandTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/message/DssNetworkCommandTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/util/ObjectUtilsTest.java
  pom.xml
  pom.xml.backup
Labels: core, feature, help wanted

#128 [#127] update gitignore file
  .gitignore
Labels: feature

#132 [#117] create authentication actor
  dss-core/pom.xml
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/actor/rest/DssRestAuthActor.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/actor/security/DssAuth.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/message/security/DssAuthCommand.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/message/security/DssAuthenticationCommandRequest.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/message/security/DssAuthenticationCommandResponse.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/message/security/DssAuthorizationCommandRequest.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/message/security/DssAuthorizationCommandResponse.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/actor/rest/DssRestAuthActorTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/message/security/DssAuthenticationCommandRequestTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/message/security/DssAuthenticationCommandResponseTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/message/security/DssAuthorizationCommandRequestTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/message/security/DssAuthorizationCommandResponseTest.java
Labels: core, feature, service

#135 Remove unused import io.netty.handler.logging.LogLevel
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/network/rest/DssRestChannel.java
Labels: bug, feature

#133 [#52] Add websocket handler
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/network/websocket/DssWebSocketChannel.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/network/websocket/handler/DssHttpRequestHandler.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/network/websocket/handler/DssWebSocketChannelInitializer.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/network/websocket/handler/DssWebSocketHandler.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/network/websocket/handler/DssWebSocketSslChannelInitializer.java
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/network/websocket/property/DssWebSocketChannelProperty.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/network/websocket/DssWebSocketChannelTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/network/websocket/handler/DssHttpRequestHandlerTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/network/websocket/handler/DssWebSocketChannelInitializerTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/network/websocket/handler/DssWebSocketHandlerTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/network/websocket/handler/DssWebSocketSslChannelInitializerTest.java
  dss-core/src/test/java/io/github/ztkmkoo/dss/core/network/websocket/property/DssWebSocketChannelPropertyTest.java
  dss-server/pom.xml
  dss-server/src/main/java/io/github/ztkmkoo/dss/server/websocket/DssWebSocketServer.java
  dss-server/src/test/java/io/github/ztkmkoo/dss/server/websocket/DssWebSocketServerTest.java
Labels: core, feature, network

#140 [#137] fix NullPointerException could be thrown
  dss-core/src/main/java/io/github/ztkmkoo/dss/core/network/websocket/handler/DssHttpRequestHandler.java
Labels: bug, feature

#139 [#138] update readme
  README.md
Labels: documentation, feature
